.container

  .page-header
    %h1
      = @course.title
      %br
      %small
        = @course.when

  - if @course.sections.length > 0
    .list-group
      - @course.sections.each do |section|
        - if section.has_questions?
          = link_to section,
            class: 'list-group-item' do

            %h4.list-group-item-heading
              = section.title

            .list-group-item-text
              %p
                - if section.has_questions?
                  %span.progress-value
                    #{section.progress}%
                  finished
                .progress.progress-striped
                  .progress-bar{ class: "progress-bar-#{section.progress_class}",
                    style: "width: #{section.progress}%" }
        - else
          .list-group-item.text-muted
            %h4.list-group-item-heading
              %i.icon-spinner
              = section.title
            .list-group-item-text
              %p
                %span.progress-value
                  Exercises coming soon...
            .progress.progress-striped
              .progress-bar
  - else
    %p
      This course currently has no sections. Please check back soon :)

  - if @course.announcements.length > 0

    .page-header
      %h2 Announcements

    - @course.announcements.each do |announcement|
      .panel.panel-default
        .panel-heading
          %h4= announcement.title
        .panel-body
          = announcement.body
          %p.pull-right
            %small
              = announcement.created_at
