- @exercise.questions.each do |question|
  %h4
    = question.body

  = form_for [question, Answer.new],
    url: question_answers_path(question),
    via: :post do |f|
    - question.alternatives.each do |alternative|
      .form-group.radio
        = f.radio_button :alternative_id, alternative.id
        = f.label :"alternative_id_#{alternative.id}", alternative.body

  %hr
