.container
  .page-header
    %h1
      Exercise
      %small
        = @exercise.title

  .row
    .col-md-12
      %iframe{ width:'100%', height:'500', src:"//www.youtube.com/embed/#{@exercise.video_id}", frameborder:'0', allowfullscreen:'true' }

  %hr

  %ul.nav.nav-tabs
    %li.active
      %a{href:'#about', :'data-toggle' => 'tab'} About
    %li
      %a{href:'#questions', :'data-toggle' => 'tab'} Questions
    %li
      %a{href:'#comments', :'data-toggle' => 'tab'}
        = @exercise.comments.length
        Comments
    %li
      %a{href:'#feedback', :'data-toggle' => 'tab'}
        Feedback

  .tab-content
    .tab-pane#about.active
      %p.lead
        = @exercise.description

    .tab-pane#questions
      - if @exercise.questions.length > 0
        = render 'questions_forms'
      - else
        %p
          This exercise currently has no questions. Please check back soon :)

    .tab-pane#comments
      - if @exercise.comments.length > 0
        .list-group
        - @exercise.comments.each do |comment|
          .well.comment{ :data => {:user_role => comment.user_role } }
            %ul.media-list
              %li.media
                .pull-left
                  %img{src:comment.gravatar}
                .media-body
                  %p
                    = comment.body
                  %p.text-muted
                    %small
                      Posted by
                      = comment.author
                      #{comment.time_ago_in_words} ago

      = render 'comments/form'

    .tab-pane#feedback
      %p
        By leaving constructive feedback, your teacher can adapt the course material to better suit your needs. So please do be honest! Your ideas make this course better!
        %span.text-info
          Your feedback will be totally anonymous.
      = render 'feedback/form', exercise: @exercise
