= form_for [:admin, @course] do |f|
  = render "shared/form_errors", model: @course
  .form-group
    = f.label :title
    = f.text_field :title,
      class: 'form-control'
  .form-group
    = f.label :year
    = f.select :year, options_for_select([2013,2014,2015]),
      class: 'form-control'
  .form-group
    = f.label :semester
    = f.select :semester, options_for_select([['VT', 1], ['HT', 2]]),
      class: 'form-control'
  .form-group
    = f.label :admission_code
    = f.text_field :admission_code,
      class: 'form-control'
    %p This is the code the students need to give when either registering to the system for the first time, or when joining this course. You can always change the admission code later.
  .form-group
    = f.submit "Save",
      class: 'form-control btn-default'
