= form_for [:admin, @course] do |f|
  = render "shared/form_errors", model: @course
  .form-group
    = f.label :title
    = f.text_field :title,
      class: 'form-control'
  .form-group
    = f.label :year
    = f.select :year, options_for_select([2013,2014,2015]),
      class: 'form-control'
  .form-group
    = f.label :semester
    = f.select :semester, options_for_select([['VT', 1], ['HT', 2]]),
      class: 'form-control'
  .form-group
    = f.submit "Save",
      class: 'form-control btn-default'
