.container

  .page-header
    %h1 Courses I'm running

  %table.table.table-striped
    - @courses.each do |course|
      %tr
        %td.lead
          = link_to course.title, [:admin, course]
        %td.text-right
          = link_to "Edit", edit_admin_course_path(course),
            class: 'btn btn-default'
          = button_to "Delete", admin_course_path(course),
            method: :delete,
            confirm: "Are you really sure you want to delete #{course.title}?",
            class: 'btn btn-danger'

  = link_to "Create new course", new_admin_course_path,
    class: 'btn btn-success btn-lg'

